.parent {
    height: 300px;
    width: 300px;
    background-color: red;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.child {
    height: 100px;
    width: 100px;
    background-color: green;
}